/* Main page nav*/
body{
  background-color: #fff!important;
}

main{
  
  padding-left: 10%;
  padding-right: 10%;
}
.navdiv{
  position: fixed;
  background-color: #fff;
  transition: background-color 200ms linear;
  width: 100%; 
  z-index: 100;
  border-bottom: 1px solid #2c1401;
  color: #2c1401;
}

.nav2 {
  background-color: rgba(35,16,1,0.98) !important;
  color: #fff!important;
  transition: background-color 200ms linear;
}

.a1{
  color: #2c1401;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  margin-left:  50px;
  margin-right: 50px;
  margin-top: 16px;
}

.a2{
  color: #fff!important;
}

ul.nav a:hover, ul.nav a:focus, ul.nav a:active { 
  color: #212632;
  font-size: 28px;
  background-color: inherit!important; 
  
}

#logo{
  max-height: 83px;
  cursor: pointer;
}

/* Admin component*/

.btn-mine{
  background-color: #212632;
  color: #fff;
}

.btn-mine:hover, .btn-mine:focus{
  color: #fff!important;
  background-color:  #111622 
}

.form-input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.success{
  color: forestgreen!important;
  margin-left: 50px;
}

#uploadcont{
  padding: 30px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  margin-bottom: 50px;
}

#browse{
  cursor: pointer; 
}

/* Paintings */

.painting{
  max-width: 96%;
  max-height: 98%;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 6px 6px 5px #888888;
}

.pdetails{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  font-family: 'Cardo', Georgia, "Times New Roman", serif;
  font-size: 15px;
  color: white;
  padding-left: 20px;
  font-style: italic;
}

.details-title{
  font-family: 'Cardo', Georgia, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 700;
  padding-left: 80px;
}

.fadep{
  filter: grayscale(20%) brightness(70%) sepia(70%);
  transition: filter 0.5s ease 0s;
}


.paintingdiv{
  margin-top: 30px;
  padding-right: 0px!important;
  padding-left: 0px!important;
  height: 250px;
  position: absolute;
  cursor: pointer;
}

.paintings-title{
    font-family: 'Cardo', Georgia, "Times New Roman", serif;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-stretch: expanded;
    font-style: italic;
    font-weight: 700;
    color: #2c1401;
}

.modal-lg{
  width: 200%!important;
  left: -50%;
  background-color: rgba(0,0,0,0)!important;
  box-shadow: 0px 0px 0px #fff!important;
  border: 0px!important;
}

.full-pic{
  max-width: 120%;
  max-height: 120%;
  padding: 5px!important;
}

.fullp-cont{
  margin-right: -85px!important;
  margin-left: -25px!important;
}

.full-section-title{
  color: #fff;
  font-family: 'Cardo', Georgia, "Times New Roman", serif;
}

.back-forth{
  margin-top: 15%;
  cursor: pointer;
  color: #fff;
  padding-left: 35px!important;
}

.back-forth:hover{
  color: #bbb!important;
}

/* HOME  */

.am-name{
  font-size: 70px;
  line-height: 22px;
  font-family: 'Cardo', Georgia, "Times New Roman", serif;
  height: 100%;
  border-right: 1px solid #2c1401;
  padding-top: 150px;
  letter-spacing: 5px;
  color: #2c1401;
}

.main-pic{
  max-height: 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-top: 30px;
}

.cities{
  max-height: 100%;
  max-width: 100%;
  margin-top: 80px;
  margin-left: -50px;
}

.home-cont{
    height: 600px;
}

